<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_disciplinas.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,400;1,300&family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="titulo">
        <h2>Elija una disciplina</h2>
        </div>
    </header>



   <!-- <div class="background">
        <img src="img/bg.jpg" alt="">
    </div>-->

<section class="buttons_section">
    <div class="buttons_container">

                <div class="card" style="--i:url('../img/funcional.png')">
                        <div class="card_content">
                            <a href="#">Funcional </a>
                        </div>
                </div>

                
                <div class="card" style="--i:url('../img/funcional.png')">
                    <div class="card_content">
                        <a href="#">Yoga</a>
                    </div>
            </div>

               
            <div class="card" style="--i:url('../img/funcional.png')">
                <div class="card_content">
                    <a href="#">Personalizados</a>
                </div>
        </div>
    </div>
</section>
</body>
</html>