<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,400;1,300&family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="titulo">
        <h2>Bienvenidos a Starke Fitness</h2>
        </div>
    </header>



   <!-- <div class="background">
        <img src="img/bg.jpg" alt="">
    </div>-->

<section class="buttons_section">
    <div class="buttons_container">

                <div class="main-div main-div2 button">
                    <a href="disciplinas.html">
                        Disciplinas
                    </a>
                </div>

                <div class="main-div main-div2 button">
                    <a href="#">
                        <p>Ubicacion</p>
                    </a>
                </div>

                <div class="main-div main-div2 button">
                    <a href="#">
                        <p>Gimnasio</p>
                    </a>
                </div>
    </div>
</section>
</body>
</html>