<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin</title>
        <link href="{% static 'starke_app/css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Registrar Cliente-Salud</h3></div>
                                    <div class="card-body">
                                        <form  action="{% url 'agregar_cliente_salud' %}" method ='POST'>{% csrf_token %}

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                       
                                                        <label class="form-label d-block">¿Problemas Cardiacos?</label>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" id="si" type="radio" name="problemasCardiacos" data-sb-validations="" />
                                                            <label class="form-check-label" for="si"> {{ form.cardiacos_si }} Si</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" id="no" type="radio" name="problemasCardiacos" data-sb-validations="" />
                                                            <label class="form-check-label" for="no">{{ form.cardiacos_no }} No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label d-block">¿Problemas de asma?</label>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" id="si" type="radio" name="problemasDeAsma" data-sb-validations="" />
                                                        <label class="form-check-label" for="si" > {{ form.asma_si }} Si</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" id="no" type="radio" name="problemasDeAsma" data-sb-validations="" />
                                                        <label class="form-check-label" for="no">{{ form.asma_no }} No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label d-block">¿Tiene alguna fractura o lesion?.Si coloca si especificar.</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" id="si" type="radio" name="tieneAlgunaFracturaOLesionSiColocaSiEspecificar" data-sb-validations="" />
                                                    <label class="form-check-label" for="si">{{ form.lesion_si }} Si</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" id="no" type="radio" name="tieneAlgunaFracturaOLesionSiColocaSiEspecificar" data-sb-validations="" />
                                                    <label class="form-check-label" for="no"> {{ form.lesion_no }} No</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <textarea {{ form.especificar_lesion}}</textarea>
                                                    <label for="especificarFracturaOLesion">Especificar fractura o lesion</label>
                                                    <div class="invalid-feedback" data-sb-feedback="especificarFracturaOLesion:required">Especificar fractura o lesion is required.</div>
                                                </div>
                                                
                                            </div>
                                         
                                            <div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Aceptar datos"> </div>
                                        </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'starke_app/js/scripts.js' %}"></script>
    </body>
</html>
